name: Call API Every 5 Minutes

on:
  schedule:
    - cron: "*/5 * * * *"   # every 5 minutes
  workflow_dispatch:       # allow manual run

jobs:
  call-api:
    runs-on: ubuntu-latest

    steps:
      - name: Call API 1
        run: |
          curl -X GET https://svgconvert.onrender.com/api/ping
      - name: Call API 2
        run: |
          curl -X GET https://test-gpt-y58q.onrender.com/api/ping
